### Cache ###
/app/cache/


### Vagrant ###
.vagrant/

### Phalcon ####
.phalcon/
### Mysql Workbench backup file ###
EER-diagram.mwb.bak
### Files folder ###
public/files/

app/cache

.idea/

/vendor
composer.lock