.copright{
    color: #636565!important;
    position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
bottom:10px;
margin: 0 auto;text-align:center;margin-top: 10px;
}.copright a:link a:visited
{
  color: #4F48F1;
  font-weight:lighter;
  font-size:smaller;
}
#login{
    max-width:300px;
    margin: 0 auto;text-align:center;
}
#alert{
    position: absolute;
    margin: 0 auto;
    top: 10%;
    min-width: 200px;
    max-width: 300px;
    /* left: 50%; */
    /* margin-left: auto; */
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display:none;
}
#jumbotron
{
    max-width:800px;margin: 0 auto;margin-top:45px;text-align:center;border-radius: 5px;
}

#main {
  color: #636565!important;
  text-align: left;
  padding-left:30px;
  height:auto;
  overflow-y: auto;
  margin-top:80px;
}
footer {
  padding-left: 15px;
  padding-right: 15px;

  position:relative;
  bottom:0px;
}
*{font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;}

/* end CSS */
.slider{
    width:300%;
}
.gllpMap	{ width: 100%; height: 250px; }
.alert{
position: absolute;
min-width: 300px;
left: 50%;
margin-left: -200px;
top:35px;
z-index:2000;
position:fixed;
}
.match{
  padding:13px;
}
.match:hover{
  background-color:#ccc;
  cursor:pointer;
}
.btn{
  color:#fff!important;
}
